@model PublishArticleFM
@{
    ViewData["Title"] = "Create Article";
}

<h2>@ViewData["Title"]</h2>

<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>tinymce.init({ selector: 'textarea' });</script>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" rows="10" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PublishDate"></label>
        <input asp-for="PublishDate" class="form-control" />
        <span asp-validation-for="PublishDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-default">Create Article</button>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}